<?xml version="1.0"?>
<!--
/**
 * @category    Codealist
 * @package     ContentBuilder
 * @copyright   Copyright (c) 2018 Codealist
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="codealist_contentbuilder" translate="label" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Content Builder Rich Editor</label>
            <tab>codealist_base</tab>
            <resource>Codealist_ContentBuilder::config</resource>
            <group id="general" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>ContentBuilder</label>
                <field id="active" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>The Content Builder Rich Editor will be available to be used whenever you create a block or page within the Magento Admin Panel.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
